<section id="banner">
    <img src="assets/images/logoCeleste.png" alt="" />
</section>

<section id="main" class="container">
    <section class="box special">
        <header class="major">
            <h2>PROXIMAMENTE
            </h2>
            <p style="text-align: justify;">Actualmente estamos construyendo una plataforma educativa innovadora que transformar&aacute; la forma en que se accede al aprendizaje. 
                Estamos trabajando con dedicaci&oacute;n para ofrecerte una experiencia &uacute;nica, moderna y eficiente. ¡Muy pronto estar&aacute; disponible!</p>
        </header>
        <span class="image featured"><img src="assets/images/growtika-yGQmjh2uOTg-unsplash (3).jpg" alt="" /></span>
    </section>
</section>