<h1><a href="/"><img src="assets/images/logoCeleste.png" alt="" style="max-height: 55px; width: auto;" /></a></h1>
<nav id="nav">
    <ul>
        <li>
            <a href="#" class="icon solid fa-angle-down">INICIO</a>
            <ul>
                <li><a href="https://www.istmm.com">Campus</a></li>
                <li><a href="/">Instituto</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon solid fa-angle-down">CON&Oacute;CENOS</a>
            <ul>
                <li>
                    <a href="#">Nosotros</a>
                    <ul>
                        <li><a href="#">Quienes Somos</a></li>
                        <li><a href="#">Autoridades</a></li>                        
                        <li><a href="#">Nuestros Valores</a></li>
                    </ul>
                </li>
                <li><a href="#">Misi&oacute;n y Visi&oacute;n</a></li>
                <li><a href="#">Cont&aacute;ctanos</a></li>
                <li><a href="#">Trabaje con nosotros</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon solid fa-angle-down">OFERTA ACAD&Eacute;MICA</a>
            <ul>
                <li><a href="generic.html">Inform&aacute;tica</a></li>
                <li><a href="contact.html">Redes</a></li>
            </ul>
        </li>
        <li><a href="#">NOTICIAS</a></li>
        <li><a href="https://istmm.learn.sauriotech.com/" class="button">Learn Hub</a></li>
    </ul>
</nav>